<h1>TextSentencer</h1>

<p>A REST service to produce sentence segmentation.</p>

<h2>Usage</h2>

<h3>Input</h3>
<p>Post a block of text as a value of the parameter <i>text</i>, as follows:

<div style="">
<pre style="display:inline-block; background-color:#ddd; padding:5px">
curl -d text="Post a text. It will let you know where are sentences." http://bionlp.dbcls.jp/text_sentencer
</pre>
</div>

or

<div style="">
<pre style="display:inline-block; background-color:#ddd; padding:5px">
curl -H "content-type:application/json" -d '{"text":"Post a text. It will let you know where are sentences."}' http://bionlp.dbcls.jp/text_sentencer
</pre>
</div>

<h3>Output</h3>
<p>You will get the sentence segmentation results in the <a href="http://www.pubannotation.org/docs/format/">PubAnnotation JSON format</a>.</p>
<pre style="display:inline-block; background-color:#ddd; padding:5px">
[{"begin":0,"end":12,"obj":"Sentence"},{"begin":13,"end":54,"obj":"Sentence"}]
</pre>

