<!DOCTYPE html>
<html>
<head>
<title>Text sentencer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
</head>

<body>
<div id="header">
  <div id="title">
    Text Sentencer
  </div>
</div>
<div id="main">
  <fieldset class="pane">
    <legend>Demo</legend>
    <form>
      <textarea name="text" placeholder="Input text" required><%= params[:text] %></textarea>
      <input type="submit">
    </form>
    <% unless @annotations.nil? %>
      <section>
        <h1>Sentence segmentation result in <a href="http://textae.pubannotation.org">TextAE</a> visualization</h1>
        <div class="textae-editor" style="margin:5px 0; padding:4px">
        <%= @annotations.to_json %>
        </div>
      </section>
      <section>
        <h1>... in <a href="http://www.pubannotation.org/docs/annotation-format/">PubAnnotation JSON</a></h1>
        <textarea style="width:100%">
<%= JSON.pretty_generate(@annotations) %>
        </textarea>
      </section>
    <% end %>
  </fieldset>

<section>
  <h1>Description</h1>
  <ul>
    <li>It is a REST service to get sentence segmentation of a text.</li>
    <li>It is based on a simple rule-based system.</li>
    <li>The result is represented in <a href="http://www.pubannotation.org/docs/annotation-format/">PubAnnotation JSON format</a>.</li>
  </ul>
</section>

<section>
  <h1>Usage</h1>

  <section>
    <h2>Input</h2>
    <p>Post a block of text as a value of the parameter <i>text</i>, as follows:</p>
<div class="command">curl -d text="Post a text. It will let you know where are sentences." http://bionlp.dbcls.jp/text_sentencer
</div>

    or

<div class="command">curl -H "content-type:application/json" -d '{"text":"Post a text. It will let you know where are sentences."}' http://bionlp.dbcls.jp/text_sentencer
</div>
  </section>

  <section>
    <h2>Output</h2>
<p>You will get the sentence segmentation results in the <a href="http://www.pubannotation.org/docs/format/">PubAnnotation JSON format</a>.</p>
  </section>
</section>
</div>
</body>
</html>
